$hotgreen:  rgb(50, 246, 50);
$mossgreen: rgb(6, 81, 6);
$applegreen: rgb(185, 243, 185);
$palegreen: rgb(233, 243, 233);
$textgreen: rgb(58, 187, 58);
$darkgreen: rgb(42, 130, 42);
$orange_bg: rgb(243, 223, 216);
$orange_text: rgb(251, 90, 32);

$primary-bg: rgb(243, 250, 243);
$secondary-bg: rgb(236, 241, 236);
$border-gray: rgb(218, 217, 217);